@model User;


<div class="wrapper-images">
    <!-- 5 images by row -->
    <div class="images-line">
        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">as</div>
        </div>
        <div class="line" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)">
            <div class="img" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">as</div>
        </div>
        <div class="line" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)">
            <div class="img" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">as</div>
        </div>
        <div class="line" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)">
            <div class="img" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)"></div>
        </div>
    </div>
    <!-- 5 images by row -->
    <div class="images-line">
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')">
            <div class="img" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')">
            <div class="img" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')">
            <div class="img" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)"></div>
        </div>
    </div>
    <!-- 5 images by row -->
    <div class="images-line">
        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)"></div>
        </div>
    </div>
    <!-- 5 images by row -->
    <div class="images-line">
        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">as</div>
        </div>
        <div class="line" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)">
            <div class="img" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">as</div>
        </div>
        <div class="line" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)">
            <div class="img" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f000000032a161bae1caf29ef62c71084)">as</div>
        </div>
        <div class="line" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)">
            <div class="img" style="background-image:url(https://www.banffcentre.ca/sites/default/files/Performing%20Arts/Spotify-Cover_Spoken-Word.jpg)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2Mc7MHCuKO72ILBj-dC_uCQYo-Gz8ssBGShoMXCLWItNoqmb-2pldDUYvD1tEMQufMQ&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjtvLVD4hg1Sn_Z-TKYuq7RB_kZ7UQOR4VsveDoVx_Jl02aWMnjx9ubAI31GzYZD56VtE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROANgnvpC541ZhYX2Hb7w7B_UWFBc3LVCDHw7oqTDLOH4m1WioQi2rJ-ALykzJ8xtJJAw&amp;usqp=CAU)"></div>
        </div>
    </div>
    <!-- 5 images by row -->
    <div class="images-line">
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')">
            <div class="img" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')">
            <div class="img" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRcIUa53xwFu6KjIxtN7SPS1MX_uaN17leb3xPKF8NC9yRftdAr3dG0aMX35C3t5JUBAM&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuHI_CUKOkHrJU9t1rU8w3l-zcPpkcIE4cLJhVRu6YGQeVnKFNL5cnfI1PoV17doKAukE&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')">
            <div class="img" style="background-image:url('https://i.scdn.co/image/ab67706f00000002437f1fce2abda0c2ab2bec55')"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoLo7jg5zSBDnzynko7aC8wnrcI4A3azfGBz41Cg98p52o_qDBbUHvi__Ld3s_9ayIzc&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRor_L27uKzzQvIpR8La8yu-Ns2CIW1e_v0sNVHHhkdkDr0DMZBP-rEfs7loxN0PfwX5UU&amp;usqp=CAU)"></div>
        </div>
    </div>
    <!-- 5 images by row -->
    <div class="images-line">
        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)"></div>
        </div>

        <div class="line" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)">
            <div class="img" style="background-image:url(https://i.scdn.co/image/ab67706f00000003c564c5b82a20d60aa93b74e4)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9nJ-tODFGkLEA9CbTZYZFUAdLhqcbS-sIMl76cL67j7YANBaI3COYwD9iaV5SlI3UB70&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf7p-3D5BofHiu5Ish8O7XLCsljqoQclX6i4L-bAOjwtFYaMsekvUpp7iUJrep95aX0A&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtp-gCHBNWCeL-JL8ypeP-5bqHQSYTPKyAdNv_Nit38i6EeusrtIekiTdSIrRtIJt3dmo&amp;usqp=CAU)"></div>
        </div>
        <div class="line" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)">
            <div class="img" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6SzQFYpzLRahb-WpPIRduJJyqsaKO2OgmIvLcTdYYQazVQ3lfSQStSaVE7wZ9qL9fAo&amp;usqp=CAU)"></div>
        </div>
    </div>
</div>

<section>
    <div class="signup rounded-3">
        <div class="content">
            <h2>Sign Up</h2>
            <form asp-action="SignUp" class="form" method="post" enctype="multipart/form-data">   
                <div class="form-group inputBox">
                    <i>Tipo de Usuario</i>
                    <select asp-for="RolId" name="RolId">
                        <option value="1">Usuario</option>
                        <option value="2">Artista</option>
                    </select>
                    
                    <span asp-validation-for="RolId" class="text-danger"></span>
                </div>
                <div class="form-group inputBox">
                    <input asp-for="Name" type="text" required/>
                    <i>Name</i>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group inputBox">
                    <input asp-for="Email" type="email" required/>
                    <i>Email</i>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group inputBox">
                    <input asp-for="Password" type="password" required/>
                    <i>Password</i>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group inputBox">
                    <input asp-for="Image" type="file" />
                    <i>Image</i>
                </div>
                <div class="form-group inputBox">
                    <input type="submit" value="Sign Up" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@section styles {
    <link rel="stylesheet" href="~/ViewFiles/SignUp.css?v=1">
}